models/frcnn/frcnn_kitti_resnet18_retrain.etlt filter=lfs diff=lfs merge=lfs -text
models/yolov3/yolo_resnet18.etlt filter=lfs diff=lfs merge=lfs -text
models/retinanet/retinanet_resnet18.etlt filter=lfs diff=lfs merge=lfs -text
models/detectnet_v2/resnet18_trafficnet.etlt filter=lfs diff=lfs merge=lfs -text
models/ssd/ssd_resnet18.etlt filter=lfs diff=lfs merge=lfs -text
models/dssd/dssd_resnet18.etlt filter=lfs diff=lfs merge=lfs -text
models/frcnn/faster_rcnn_resnet10.etlt filter=lfs diff=lfs merge=lfs -text
models/detectnet_v2/detectnetv2_resnet18.etlt filter=lfs diff=lfs merge=lfs -text
models/mrcnn/mask_rcnn_resnet50.etlt filter=lfs diff=lfs merge=lfs -text
TRT-OSS/Jetson/TRT8.0/libnvinfer_plugin.so.8.0.1 filter=lfs diff=lfs merge=lfs -text
TRT-OSS/x86/TRT8.0/libnvinfer_plugin.so.8.0.1 filter=lfs diff=lfs merge=lfs -text
TRT-OSS/Jetson/TRT8.2/libnvinfer_plugin.so.8.2.1 filter=lfs diff=lfs merge=lfs -text
TRT-OSS/Jetson/TRT8.4/libnvinfer_plugin.so.8.4.0.11 filter=lfs diff=lfs merge=lfs -text
TRT-OSS/x86/TRT8.2/libnvinfer_plugin.so.8.2.5.1 filter=lfs diff=lfs merge=lfs -text
sample/streams/retail_object_h264.mp4 filter=lfs diff=lfs merge=lfs -text
apps/tao_others/deepstream-nvocdr-app/nvocdr_libs/aarch64/libnvocdr.so filter=lfs diff=lfs merge=lfs -text
apps/tao_others/deepstream-nvocdr-app/nvocdr_libs/x86/libnvocdr_impl.so filter=lfs diff=lfs merge=lfs -text
apps/tao_others/deepstream-nvocdr-app/nvocdr_libs/x86/libnvocdr.so filter=lfs diff=lfs merge=lfs -text
TRT-OSS/x86/TRT8.6/libnvinfer_plugin.so.8.6.2 filter=lfs diff=lfs merge=lfs -text
TRT-OSS/Jetson/TRT8.6/libnvinfer_plugin.so.8.6.2 filter=lfs diff=lfs merge=lfs -text
apps/tao_others/deepstream-nvocdr-app/nvocdr_libs/aarch64/libnvocdr_impl.so filter=lfs diff=lfs merge=lfs -text
